/* GFont: Allan, Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;

  --color-ff-primary: #fff;
  --color-ff-secondary: #000;
  --color-ff-link: #ddd;
  --color-ff-link-hover: #c2d5ff;

  --color-primary: #3a5a84;
  --color-primary-light: #3a5a84;
  --color-primary-dark: #00082e;
  /* Secondaries */
  --color-secondary: #455a64;
  --color-secondary-light: #718792;
  --color-secondary-dark: #293d62;
  /* Backgrounds */
  --primary-bg-color: #3b5791;
  --secondary-bg-color: var(--color-primary-light);
  --mobile-bg-color: var(--color-secondary-dark);

  --dark: #222;
}

* {
  font-family: var(--ff-primary);
  color: var(--color-ff-primary);
}

h1,h2,h3,h4,h5,h6 {font-family: var(--ff-secondary);}
h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.3em;}
@media (max-width: 768px) {
  h1 {font-size: 1.6rem;}
  h2 {font-size: 1.3rem;}
  h3 {font-size: 1rem;}
}
