h1 Get your game on
p=`Installasjonsguide for `
  a(href="https://docs.iktim.no/IKT/1-Programvare/Datarom-manualer/Nedlastning-av-spill-PC/" target="_blank") Windows
  =` og `
  a(href="https://docs.iktim.no/IKT/1-Programvare/Datarom-manualer/Nedlastning-av-spill-Mac/" target="_blank") Mac
  =`.`
