a(href=`/`) Games
a(href=`https://github.com/sondregronas/EduGameDist`) GitHub
a(href=`https://sondregronas.github.io/EduGameDist/docs/`) Documentation
a(href=`/` onmouseover="javascript:event.target.port=8080") Nocodb
