h1 Bruksvilkår for spill på denne siden
div Vilkårne gjelder all nedlastbar innhold som er tilgjengelig på denne siden.

h2 Spillene kan kun brukes til privat bruk
div
    | Innholdet på siden er reservert til privat bruk. Elever og ansatte i et klasserom med tilgang til siden har lov til å laste ned og ta i bruk spillene. Det er ikke lov å laste ned spill for å bruke dem i andre sammenhenger, eller for å distribuere dem til andre. Dersom du ønsker å bruke spillene i andre sammenhenger, må du kjøpe dem selv.

h2 Ansvar
div
    | Vi stoler på at du som bruker av siden vil bruke den på en god måte. Vårt ønske er å tilby spill som supplement til god undervisning og læring på skolen. Tilgang til siden kan derfor bli trukket tilbake for elever dersom vi oppdager at den blir misbrukt, eller fører til redusert læring. Ved misbruk menes blant annet at du laster ned spill for å bruke dem i andre sammenhenger, eller for å distribuere dem til andre.

h2 Hvor lenge kan jeg bruke spillene?
div
    | Spillene kan brukes så lenge du har tilgang til denne siden. Dersom du ønsker å bruke spillene i fremtiden, må du kjøpe dem selv.

h2 Bruk av spill i skolen
div
    | Biblioteker har lenge tilbydt muligheten for lån av bøker, filmer og annen type innhold. Vi mener at spill også er et viktig innhold som kan være nyttig i skolen. Derfor har vi laget en side hvor spillene kan lastes ned og brukes i skolen. Vi håper at dette vil være til glede for både elever og lærere, og at det vil bidra til økt læring og nye muligheter.

h2 Hvor kommer spillene fra?
div
    | Spillene som er tilgjengelig på denne siden er DRM-frie, som vil si at de ikke er kopibeskyttet. De er hentet fra ulike kilder på internett som tilbyr spill gratis, eller som tilbyr spill til en lav pris. Enkelte spill kommer også direkte fra utviklerne. I installatøren vil du kunne se hvor spillet er hentet fra. Hovedsakelig kommer spillene fra <a href="https://www.spillpedagogbanken.no/?faq=hva-er-steam-epic-itch-io-gog-og-humblebundle" target="_blank">GOG, Humble Bundle, itch.io eller andre lignende nettsteder</a>.
